<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">

    <listeners>
        <listener class-name="utils.ExtentTestListener"/>
    </listeners>

    <test name="Swag Labs Tests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.InventoryTest"/>
        </classes>
    </test>

</suite>
