name: Selenium Automation CI

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Run Selenium Tests
        run: mvn test

        - name: Upload Extent Report
  uses: actions/upload-artifact@v4
  with:
    name: Extent-Report
    path: target

